*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.webpage{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;

}

.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    margin-bottom: 128px;
    margin-top: 4px;
    padding: 16px 20px;
}

.hero-header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.hero-header-links{
    display: flex;
    color: #e5e7eb;
    gap: 16px;
    font-size: 18px;
}

.hero-content{
    margin-bottom: 128px;
    display: flex;
    max-width: 1024px;
    width: 100%;
    justify-content: space-between;
    gap: 64px;
    padding: 0 20px;
}

.hero-content-info{
    flex: 1;
}

.hero-content-info-main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
    font-weight: 900;
    margin-bottom: 4px;
}

.hero-content-info-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

button{
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.hero-content-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-content-image img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.info{
    text-align: center;
}

.info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 48px;
}

.info-content{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax( min(150px , 100%), 1fr));
    max-width: 840px;
    gap: 32px;
    margin: 0 auto 128px;
    padding: 0 20px;
}

.info-content-box-img-box{
    width: 152px;
    height: 152px;
    border: 4px solid #3882f6;
    margin: 4px auto;
    border-radius: 12px;
    padding: 4px;
}

.info-content-box-img-box img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.info-content-box-text{
    font-size: 18px;
    padding: 4px;
}

.quote-box{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 0px 100px;
}

.quote{
    max-width: 840px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 8px;
    font-style: italic;
}

.quote-author{
    font-size: 24px;
    font-weight: 500;
    margin-left: auto;
}

.sign-up-box{
    display: flex;
    justify-content: center;
    padding: 100px;
    
}

.sign-up{
    max-width: 1024px;
    width: 100%;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding: 50px 0px;
    border-radius: 12px;
}

.sign-up-info{
    color: #f9faf8;
    flex-shrink: 0;
}

.sign-up-info-header{
    font-weight: 500;
    font-size: 24px;
}

.sign-up-info-content{
    font-size: 18px;
}

.sign-up-button{
    padding: 8px 34px;
    border: 2px solid #f9faf8;
    flex-wrap: wrap;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.footer-text{
    color: #e5e7eb;
    font-size: 18px;
}

@media screen and (max-width: 700px) {

    .hero-content{
        flex-direction: column-reverse;
        text-align: center;
        gap: 32px;
        margin-bottom: 64px;
    }

    .hero-header{
        flex-direction: column;
        gap: 24px;
        margin-bottom: 64px;
    }

    .hero-content-info{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .info-content-box-img-box{
        margin-bottom: 8px;
    }

    .quote-text{
        margin-bottom: 24px;
    }

    .sign-up-box{
        padding: 100px 50px;
    }

    .sign-up{
        flex-direction: column;
        text-align: center;
        gap: 24px;
        padding: 32px;
        width: 90%;
    }

    .sign-up-info-header{
        margin-bottom: 16px;
    }
}
